@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sans KR", sans-serif;
    background: #EEEEEE;
}

html, body {
    height: 100%;
    margin: 0;
}

.navbar-brand {
    font-size: 30px;
}
